<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>게시판</title>

    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS 추가 -->

</head>
<body>
<div class="container">
    <!-- 공통 네비게이션 불러오기 -->
    <div th:replace="~{fragment/nav :: navigation}"></div>

    <h2>게시판</h2>

    <a href="/v1/board" class="btn btn-primary">글쓰기</a>

    <table class="table table-hover"> <!-- Bootstrap 클래스 추가 -->
        <thead>
        <tr>
            <th>번호</th>
            <th>글제목</th>
            <th>작성자</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS -->
        <tr th:each="board, index : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/v1/board/'+ ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 검색기능 -->
    <form th:action="@{/v1/boardList}" method="get" class="input-group mb-3"> <!-- Bootstrap 클래스 추가 -->
        <input type="text" name="searchKeyword" class="form-control" placeholder="검색어를 입력하세요">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>

    <!-- 페이징 -->
    <div th:if="${!boardList.isEmpty()}" class="pagination-container">
        <ul class="pagination"
            th:with="
                    pageNumber = ${boardList.pageable.pageNumber},
                    pageSize = ${boardList.pageable.pageSize},
                    totalPages = ${boardList.totalPages},
                    startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                    tempEndPage = ${startPage + pageSize - 1},
                    endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

            <li th:classappend="${boardList.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${boardList.first} ? '#' : @{/(page=${pageNumber - 1})}">
                    <span aria-hidden="true"><</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{/(page=${page - 1})}"></a>
            </li>

            <li th:classappend="${boardList.last} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${boardList.last} ? '#' : @{/(page=${pageNumber + 1})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
