<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pharmacy Recommendation Results</title>

  <!-- 부트스트랩 css 추가 -->
  <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
  <!-- 공통 네비게이션 불러오기 -->
  <div th:replace="~{fragment/nav :: navigation}"></div>

  <h2 class="h2-title">Pharmacy Recommendation Results</h2>

  <table class="table">
    <thead>
    <tr>
      <th>약국명</th>
      <th>약국 주소</th>
      <th>거리</th>
      <th>길안내 링크</th>
      <th>로드뷰 링크</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pharmacy : ${outputFormList}">
      <td th:text="${pharmacy.pharmacyName}"></td>
      <td th:text="${pharmacy.pharmacyAddress}"></td>
      <td th:text="${pharmacy.distance} + ' km'"></td>
      <td><a th:href="${pharmacy.directionUrl}" target="_blank">길안내</a></td>
      <td><a th:href="${pharmacy.roadViewUrl}" target="_blank">로드뷰</a></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="footer">
  <p>Powered by Pharmacy API</p>
</div>

<!-- 부트스트랩 js, jquery 추가 -->
<script th:src="@{/js/lib/jquery.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
</body>

</html>
