<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <h1>로그인</h1>
    <div class="button-group">
        <a href="/oauth2/authorization/google" class="btn">구글 로그인</a>
        <a href="/" class="btn">메인</a>
    </div>
</div>
<footer class="footer">
    <p>&copy; 2024 LetSadam. All rights reserved.</p>
</footer>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>